* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgb(74, 161, 161);
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 62px;
    transform: translateX(-50%);
}

.numbers {
    position: relative;
    flex-basis: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.number-item {
    background: rgb(74, 161, 161);
    color: rgb(59, 59, 161);
    border-radius: 20px;
    padding: 35px 50px;
    margin: 0 10px;
    font-size: 48px;
    font-weight: bold;
    transition: transform 1s,
                background .3s .2s,
                color .3s .2s;
}

.number-item.hide {
    transform: rotateY(180deg);
    color: rgb(74, 161, 161);
    transition: transform 1.3s,
                background .3s .2s,
                color .3s .2s;
}

.number-result {
    padding: 20px;
    z-index: 1;
    position: absolute;
    top: -100%;
    left: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    background: rgb(18, 18, 56);
    color: rgb(74, 161, 161);
    transition: top 1s;
}

.number-result p {
    padding: 20px;
    font-size: 30px;
    text-transform: uppercases;
}

.number-result p span {
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
}

.visible {
    top: 60%;
}

